.block_movie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.movie_img {
  height: 200px;
  width: 100%;
}

.movie_info {
  display: flex;
  justify-content: space-between;
}
.popularTitle {
  color: red;
}
